<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <title>Binding</title>
    </head>
    <body>
        <!-- <input ng-model="name" type="text" placeholder="What is your name?"> -->
        <input type="hidden" ng-model="animals" ng-init="animals='BoJack'">
        <select ng-model="animals">
            <option value="dogs">Dogs</option>
            <option value="cats">Cats</option>
            <option value="dogs and cats">Dogs and Cats</option>
            <option value="neither">Neither</option>
        </select>
        <h1>I love {{ animals }} <3. </h1>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</html>
